//- include main.html
extends layout

block content
    header
      h1= title
    section
      label(class="switch")
        input(type="checkbox" id = "interact3")
        span(class="slider")
      div(id = "map3")
      //- div(id="viewDiv")
      //pass data to frontend from backend
    script.
      var title = !{JSON.stringify(title)};

    script(src="/javascripts/difference.js")
