//- include main.html
extends layout

block content
    header
        h1= title

    div(class ="container-fluid")
        div(class ="row")
            div(class ="col-md-6 col-sm-6")
                h3 Left Map
                div(id='leftSelection')
                    label(for="left1") Select Travel Purpose:
                    div(class = 'selection' id='left1')
                    div(class = 'selection' id='left2')
                    div(class = 'selection' id='left3')
                    div(class = 'selection' id='left4')
                div(id = 'leftDynamic')


            div(class ="col-md-6 col-sm-6")
                h3 Right Map

                div(id='rightSelection')
                    label(for="right1") Select Travel Purpose:
                    div(class = 'selection' id='right1')
                    div(class = 'selection' id='right2')
                    div(class = 'selection' id='right3')
                    div(class = 'selection' id='right4')
                div(id = 'rightDynamic')

    input(id = 'SubmitButton' type='button' class="btn btn-secondary btn-lg" value = 'Submit')
    script.
        console.log($('#map').attr('id'))
        var sliderType = !{JSON.stringify(sliderType)};
        var title = !{JSON.stringify(title)};
    script(src="/javascripts/selection.js")