//- include main.html
extends layout

block content
    header
        h1= title

    div(class ="container-fluid")
        div(class ="row")
            div(class ="col-md-6 col-sm-6")
                h3 Left Map
                div(id='leftSelection')
                    label(for="leftLevelOne") Select Travel Purpose:
                    div(class = 'selection' id='leftLevelOne')
                    div(class = 'selection' id='leftLevelTwo')
                    div(class = 'selection' id='leftLevelThree')
                    div(class = 'selection' id='leftLevelFour')
                div(id = 'leftDynamic')


            div(class ="col-md-6 col-sm-6")
                h3 Right Map

                div(id='rightSelection')
                    label(for="rightLevelOne") Select Travel Purpose:
                    div(class = 'selection' id='rightLevelOne')
                    div(class = 'selection' id='rightLevelTwo')
                    div(class = 'selection' id='rightLevelThree')
                    div(class = 'selection' id='rightLevelFour')
                div(id = 'rightDynamic')

    input(id = 'SubmitButton' type='button' class="btn btn-secondary btn-lg" value = 'Submit')
    script.
        console.log($('#map').attr('id'))

        var title = !{JSON.stringify(title)};
    script(src="/javascripts/selection.js")