//- include main.html
extends layout

block content
    header
        h1= title

    div(class ="container-fluid")
        div(class ="row")
            div(class ="col-md-6 col-sm-6")
                h3 Left Map
                div(id='leftSelection')
                    label Select Travel Purpose:

                div(id = 'leftDynamic')


            div(class ="col-md-6 col-sm-6")
                h3 Right Map

                div(id='rightSelection')
                    label Select Travel Purpose:

                div(id = 'rightDynamic')

    input(id = 'SubmitButton' type='button' class="btn btn-secondary btn-lg" value = 'Submit')
    script.
        console.log($('#map').attr('id'))
        var sliderType = !{JSON.stringify(sliderType)};
        var title = !{JSON.stringify(title)};
    script(src="/javascripts/selection.js")