html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Calibri;

}


#SubmitButton{
  position:fixed;
  left: 48%;
  top: 700px;

}
.switch {
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-top:50px;
  margin-left:20px;
  z-index:50;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:50;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
header {
    background-color: #666;
    text-align: center;
    padding:3px;

    font-size: 15px;
    color: white;
}
#section1{

  float: left;
  width: 50%;

  height: 85%;
  /* padding: 20px; */
}
#section2{

  height: 85%; /* only for demonstration, should be removed */
  /* padding: 20px; */
}
h3{


  color: black;

  margin-top:3px;
  text-align: center;


}
input{
  z-index:100;
  margin-top:10px;
}
#map{
  height:95%
  
}
#map2{
  height:95%
  
}
#subtractButton{
  z-index:99999;
  position:fixed;
  left: 48%;
  bottom: 10px;

}
label{
  margin-top:20px;
}
.selection{
  margin-top:20px

}